@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic);

// Font weights
$regular: 400;
$bold: 700;

// Serif Base Font
$base-sans-font-family: 'Droid Sans', sans-serif;

// Fixed Font
$base-serif-font-family: 'Droid Serif', serif;

$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;